html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    padding: 100px;
    background: url(img/sunset.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1000px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: auto;
    background: url(img/cloud.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 4px;
}

.sidebar-1 {
    width: 300px;
    line-height: 1.6;
    color: darkcyan;
}

.main {
    width: 900px;
    padding-right: 7px;
    color: darkviolet;
}

.sidebar-2 {
    width: 300px;
    color: darkred;
}

a {
    color: darkblue;
}
    