h2 {
    color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.kotak {
    padding: 50px;
    width: 100px;
    color: #fff;
    background: orange;
}

#kotak {
    width: 250px;
    color: #fff;
    background: blue;
    padding: 50px;
}

body {
    background: url(/img/bunga2.jpg);
    background-repeat: no-repeat, repeat;
    color: white;
}